.maintain-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.maintain-toolbar {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #f5f5f5;
  color: inherit !important;
  position: relative;
  z-index: 4;
}

.mat-drawer-container {
  background-color: #fff;
  color: inherit !important;
}

.maintain-is-mobile .maintain-toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-intro {
  background-color: #1e2129 !important;
  color: rgba($color: #fff, $alpha: 0.8);
  padding-bottom: 0.5rem;
}

.sidenav-header {
  padding: 0.75rem 0.4rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.sidenav-user {
  margin: 1rem;
  text-align: center;
}

.sidenav-user img {
  border-radius: 50%;
  max-width: 50%;
  height: auto;
  display: inline-block;
  margin-bottom: 1rem;
}

h1.maintain-app-name {
  margin: 0.222rem;
  margin-bottom: 0;
  font-size: 1.4rem;
}

.maintain-sidenav-container {
  flex: 1;
  min-height: 100%;
}

.maintain-is-mobile .maintain-sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
  width: 250px;
  background-color: #2d323e !important;
}

mat-nav-list {
  padding-top: 0;
  color: inherit;
}

.mat-list-item {
  color: #fff !important
}

mat-icon {
  margin-left: 0.6rem;
}

.link-active,
.link-active:focus {
  background-color: rgba($color: #fff, $alpha: 0.1);
}

.spacer {
  flex: 1 1 auto;
}
