.order-container {
  position: relative;
  min-height: 200px;
  padding: 3rem 3rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  mat-spinner {
    margin: 0 auto
  }

  mat-card {
    padding: 0;
    strong {
      margin-left: 0.5rem;
    }

    p {
      span {
        font-size: 0.8rem;
      }
    }

    mat-select {
      max-width: 70px;
    }
  }
}
