<section class="create-form-container">
  <h2>أضف جهازًا جديدًا</h2>
  <mat-card>
    <form [formGroup]="deviceForm">
      <mat-form-field>
        <mat-label>اسم الجهاز بالإنجليزية*</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="deviceForm.get('name').hasError('required')">
          اسم الجهاز مطلوب
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>اسم الجهاز بالعربية*</mat-label>
        <input matInput formControlName="arabicName" />
        <mat-error *ngIf="deviceForm.get('arabicName').hasError('required')">
          اسم الجهاز مطلوب
        </mat-error>
      </mat-form-field>

      <button
        type="submit"
        mat-button
        mat-raised-button
        [disabled]="!deviceForm.valid"
        (click)="createDevice()"
      >
        إضافة
      </button>
    </form>
  </mat-card>
</section>
