@import "../../../theme/variables.scss";

.rating-section {
  text-align: center;
  padding: 60px 3rem;

  h2 {
    margin-bottom: 1rem;
  }

  owl-carousel {
    display: flex;
    justify-content: center;
  }
  mat-card {
    display: flex;
    max-width: 90%;
    background-color: #fff;
    color: $mainColor;
  }

  .rate-person {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.6rem;
    img {
      max-width: 100%;
    }
  }

  .rate-body {
    p {
      margin-top: 5px;
      font-weight: 500;
      text-align: start
    }
  }
}

.mat-list-item {
  font-size: 1.4rem;
  color: $mainColor;

  span {
    margin: 0 0.4rem;
  }
}
