<section class="home-section rating-section">
  <h2>{{ "rating" | translate }}</h2>
  <owl-carousel
    [options]="carouselOptions"
    [items]="feedbacks"
    [carouselClasses]="['owl-theme', 'sliding']"
    dir="ltr"
  >
    <mat-card *ngFor="let feedback of feedbacks; let i = index">
      <section class="rate-person">
        <img
          src="assets/imgs/avatar.png"
          alt="the person who gave the feedback"
        />
      </section>
      <section class="rate-body">
        <p>
          {{ currentLanguage === "en" ? feedback.name : feedback.arabicName }}
        </p>
        <ngx-stars
          [readonly]="true"
          [size]="1"
          [initialStars]="feedback.rate"
          [color]="'gold'"
        ></ngx-stars>
      </section>
    </mat-card>
  </owl-carousel>
</section>
