<mat-sidenav-container class="maintain-sidenav-container">
  <mat-sidenav #sideNav mode="over" [opened]="false">
    <header class="sidenav-header">
      <span class="spacer"></span>
      <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>clear</mat-icon>
      </button>
    </header>
    <mat-nav-list role="list">
      <mat-list-item
        *ngFor="let route of routes"
        role="listitem"
        class="toolbar-btn"
        (click)="sideNav.close()"
        routerLink="{{ route.path }}"
      >
        {{ route.label | translate }}
      </mat-list-item>

      <mat-list-item role="listitem">
        <a
          class="toolbar-btn"
          mat-icon-button
          aria-label="button that redirects to our facebook page"
          href="https://www.facebook.com/103420078163379"
          target="_blank"
          rel="noopener noreferrer"
        >
          <mat-icon>facebook</mat-icon>
        </a>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button
          class="toolbar-btn"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="button that shows a menu of languages on click"
        >
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            class="toolbar-btn"
            [disabled]="currentLanguage === 'ar'"
            mat-menu-item
            (click)="toggleLanguage()"
          >
            عربي
          </button>
          <button
            class="toolbar-btn"
            [disabled]="currentLanguage === 'en'"
            mat-menu-item
            (click)="toggleLanguage()"
          >
            English
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        *ngIf="mobileQuery.matches"
        mat-icon-button
        class="toolbar-btn"
        aria-label="button that toggle side menu"
        (click)="sideNav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="image-container">
        <h1 routerLink="/">
          <img src="assets/imgs/logo.png" alt="" />
        </h1>
      </div>
      <span class="spacer"></span>
      <mat-nav-list
        *ngIf="!mobileQuery.matches"
        role="list"
        class="horizontal-list"
      >
        <mat-list-item
          *ngFor="let route of routes"
          role="listitem"
          class="toolbar-btn"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="{{ route.path }}"
          routerLinkActive="btn-active"
        >
          {{ route.label | translate }}
        </mat-list-item>

        <mat-list-item role="listitem">
          <a
            class="toolbar-btn"
            mat-icon-button
            aria-label="button that redirects to our facebook page"
            href="https://www.facebook.com/103420078163379"
            target="_blank"
            rel="noopener noreferrer"
          >
            <mat-icon>facebook</mat-icon>
          </a>
        </mat-list-item>

        <mat-list-item role="listitem">
          <button
            class="toolbar-btn"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="button that shows a menu of languages on click"
          >
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              class="toolbar-btn"
              [disabled]="currentLanguage === 'ar'"
              mat-menu-item
              (click)="toggleLanguage()"
            >
              عربي
            </button>
            <button
              class="toolbar-btn"
              [disabled]="currentLanguage === 'en'"
              mat-menu-item
              (click)="toggleLanguage()"
            >
              English
            </button>
          </mat-menu>
        </mat-list-item>
      </mat-nav-list>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <footer>
      <p>
        {{ "copy" | translate }} &copy; 2020 <br /><a
          mat-button
          href="https://dvmhmdsd.me"
          >{{ "mohamed" | translate }}</a
        >
      </p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<section class="order-fab-container">
  <p #fabTip class="tip" (click)="$event.srcElement.remove()">{{ "create_order" | translate }}</p>
  <button
    mat-fab
    aria-label="button redirects to orders page to let the user create another order"
    color="primary"
    class="create-order-fab"
    routerLink="/orders"
    matTooltip="{{ 'create_order' | translate }}"
    (mouseover)="fabTip.remove()"
  >
    <mat-icon>add</mat-icon>
  </button>
</section>
