@import "../theme/variables.scss";

.maintain-sidenav-container {
  height: 100%;
  color: $mainColor;
  background-color: #f0f0f0 !important;
  mat-sidenav {
    background-color: rgba($color: $mainColor, $alpha: 0.9);
    mat-nav-list {
      margin-top: 1.6rem;
      mat-list-item {
        padding: 1.4rem 0;
      }
    }
  }
  .sidenav-header {
    display: flex;
  }

  .btn-active {
    border-bottom: 2px solid $mainColor;
  }

  mat-toolbar {
    background-color: #fff;
    box-shadow: 1px 0 3px #000;
    z-index: 999;
    h1 {
      max-width: 20%;
      max-height: 100%;
      img {
        max-width: 100%;
      }
    }

    .horizontal-list {
      display: flex;
      height: 100%;
    }

    .toolbar-btn {
      color: $mainColor;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  footer {
    background-color: $mainColor;
    text-align: center;
    color: #fff;
    padding: 0.5rem 0.5rem 0.3rem;
    font-size: 1rem;
    z-index: 9;
    p {
      margin: 0;
    }

    .mat-icon {
      font-size: 18px;
      width: auto;
      height: auto;
    }

    a {
      padding: 0 0.1rem;
    }
  }
}

@media (max-width: 669px) {
  .maintain-sidenav-container {
    mat-sidenav {
      width: 224px;
      mat-list-item {
        display: flex;
        justify-content: center;
      }
    }
    mat-toolbar {
      background-color: #fff;
      box-shadow: 1px 0 3px #000;
      h1 {
        max-width: 50%;
        margin: 0 3rem;
        img {
          max-width: 100%;
        }
      }
    }

    .horizontal-list {
      flex-direction: column;
    }
  }
}

.order-fab-container {
  position: absolute;
  z-index: 9;
  right: 0.3rem;
  bottom: 0;
  .create-order-fab {
    margin-bottom: 3rem;
    margin-right: 3rem;
  }

  .tip {
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: #fff;
    padding: 0.3rem;
    border-radius: 4px;
  }
}

@media (max-width: 700px) {
  .order-fab-container {
    .create-order-fab {
      margin-bottom: 2rem;
      margin-right: 2rem;
    }
  }
}
