.create-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.2rem;
}

mat-card {
  background-color: #f9f9f9;
  width: 50%;
}

form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  mat-card {
    width: 85%;
  }
}

mat-form-field {
  margin-bottom: 1.3rem;
}

button {
  background-color: rgba($color: #1e2129, $alpha: 0.93);
  color: #fff;

  &:hover {
    background-color: #1e2129
  }
}
